{% load static %}

<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<head>
  <meta charset="UTF-8" />
  <title>Manager - Dashboard</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">

  <!-- Fonts & Icons -->
  <link href="https://fonts.googleapis.com/css?family=Muli:300,400,600,700|Comfortaa:300,400,700" rel="stylesheet" />
  <link href="https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome.min.css" rel="stylesheet" />

  <!-- CSS -->
  <link rel="stylesheet" href="{% static 'theme-assets/css/vendors.css'%}" />
  <link rel="stylesheet" href="{% static 'theme-assets/css/app-lite.css'%}" />
  <link rel="stylesheet" href="{% static 'theme-assets/css/core/menu/menu-types/vertical-menu.css'%}" />
  <link rel="stylesheet" href="{% static 'theme-assets/css/core/colors/palette-gradient.css'%}" />
</head>

<body class="vertical-layout vertical-menu 2-columns menu-expanded fixed-navbar" data-open="click" data-menu="vertical-menu" data-color="bg-gradient-x-purple-blue" data-col="2-columns">

  <!-- Navbar -->
  <nav class="header-navbar navbar-expand-md navbar navbar-with-menu fixed-top navbar-semi-light">
    <div class="navbar-wrapper">
      <div class="navbar-container content">
        <div class="collapse navbar-collapse show" id="navbar-mobile">
          <ul class="nav navbar-nav mr-auto">
            <li class="nav-item d-md-none"><a class="nav-link menu-toggle"><i class="ft-menu"></i></a></li>
            <li class="nav-item d-none d-md-block"><a class="nav-link nav-link-expand"><i class="ficon ft-maximize"></i></a></li>
          </ul>
          <ul class="nav navbar-nav float-right">
            <li class="dropdown dropdown-user nav-item">
              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="#"><i class="ft-user"></i> Profile</a>
                <a class="dropdown-item" href="#"><i class="ft-power"></i> Logout</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <!-- Sidebar -->
  <div class="main-menu menu-fixed menu-light menu-accordion menu-shadow" data-scroll-to-active="true" data-img="{% static 'theme-assets/images/backgrounds/02.jpg' %}">
    <div class="navbar-header">
      <ul class="nav navbar-nav flex-row">
        <li class="nav-item mr-auto"><a class="navbar-brand"><img class="brand-logo" src="{% static 'theme-assets/images/logo/logo.png' %}" /><h3 class="brand-text">Manager</h3></a></li>
        <li class="nav-item d-md-none"><a class="nav-link close-navbar"><i class="ft-x"></i></a></li>
      </ul>
    </div>
    <div class="main-menu-content">
      <ul class="navigation navigation-main" id="main-menu-navigation">
         <li class="nav-item active"><a href="/Managerapp/managerdash/"><i class="ft-home"></i><span class="menu-title">Dashboard</span></a></li>
          <li class="nav-item "><a href="/Managerapp/printer/"><i class="ft-printer"></i><span class="menu-title">Assign Printers</span></a></li>
          <li class="nav-item"><a href="/Managerapp/dishes/"><i class="ft-box"></i><span class="menu-title">Dishes</span></a></li>
          <li class="nav-item"><a href="/Managerapp/vieworders/"><i class="ft-shopping-cart"></i><span class="menu-title">Orders</span></a></li>
           <li class="nav-item"><a href="/Managerapp/takeorders/"><i class="ft-globe"></i><span class="menu-title">Take Orders</span></a></li>
          <!-- <li class="nav-item"><a href="onlineOrders.html"><i class="ft-globe"></i><span class="menu-title">Online Orders</span></a></li> -->
          <li class="nav-item"><a href="/Managerapp/viewstaffman/"><i class="ft-users"></i><span class="menu-title">View Staff</span></a></li>
          <li class="nav-item"><a href="/Managerapp/addtable/"><i class="ft-layers"></i><span class="menu-title">Tables & Chairs</span></a></li>
           </div><a class="btn btn-danger btn-block btn-glow btn-upgrade-pro mx-1" href="https://themeselection.com/products/chameleon-admin-modern-bootstrap-webapp-dashboard-html-template-ui-kit/" target="_blank">LogOut</a>
      <div class="navigation-background"></div>
      </ul>
    </div>
  </div>
  {% block body %}

  {% endblock %}


   <!-- JS -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
